@page "/arealist"

<ComTitulo Titulo="Lista de areas"></ComTitulo>
<br />
<MatPaper Elevation="6">

    <ComSubBarra Tipo="save" Url="/areaform" Etiqueta="Agregar area">
    </ComSubBarra>

    @if (Areas == null)
    {
        <ComLoading>
        </ComLoading>
    }
    else
    {
        <div class="top-row px-4" style="display:grid; justify-content:center">
            <MatTable Items="@Areas" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="SelectionChangedEvent">
                <MatTableHeader>
                    <th>
                        Id
                    </th>
                    <th>
                        NombreArea
                    </th>
                    <th>
                        Empleado
                    </th>
                    <th>
                    </th>
                </MatTableHeader>
                <MatTableRow>
                    <td>@context.Id</td>
                    <td>@context.NombreArea</td>
                    <td>@context.EmpleadoResponsableId</td>
                    <td>
                        <BtnCrud Tipo="edit" Url="/areaedit">
                        </BtnCrud>
                        <BtnCrud Tipo="delete" Url="/areadelet" Etiqueta="">
                        </BtnCrud>
                    </td>
                </MatTableRow>
            </MatTable>
        </div>
    }

    <p>@_currentSelectedTask</p>
</MatPaper>