
@page "/clientelist"

<h1>Lista de clientes</h1>
<BtnCrud Tipo="save" Url="/clienteform" Etiqueta="Agregar cliente">
</BtnCrud>

@if (clienteDtos == null)
{
    <ComLoading>
    </ComLoading>
}
else
{
    <MatTable Items="@clienteDtos" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="SelectionChangedEvent">
        <MatTableHeader>
            <th>Id</th>
            <th>Nombre</th>
            <th>Correo</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Nombre @context.Apellido </td>
            <td>@context.CorreoElectronico</td>
            <td>
                <BtnCrud Tipo="edit" Url="/clienteedit">
                </BtnCrud>
                <BtnCrud Tipo="delete" Url="/clientedelet" Etiqueta="">
                </BtnCrud>
            </td>
        </MatTableRow>
    </MatTable>
}

<p>@_currentSelectedTask</p>
